*.fna*
/testing
job_template
/assembly_pipeline/data
/assembly_pipeline/output
/assembly_pipeline/errors
/del_detect/data
/del_detect/output
/del_detect/errors
/del_detect/bam_slicing
/meth_calling_pipeline/data
/meth_calling_pipeline/output
/variant_calling/data
/variant_calling/output
/variant_calling/errors
/variant_calling/clair-env
/nanopore_raw
/nanopore_basecalled
/master_pipeline/output
/master_pipeline/errors
/ashish_analysis
